<div class="well">
    <h1>Zmiana hasła</h1>

    <form id="changePasswordForm" name="changePasswordForm" ng-if="authData.user.email !== undefined">
        <div class="row" ng-if="authData.user.hasPassword">
            <fieldset class="form-group col-md-12">
                <label for="oldPassword">Aktualne hasło</label>
                <input name="oldPassword" id="oldPassword" type="password" class="form-control" placeholder="password"
                       ng-model="ctrl.oldPassword" required>
                   <span class="error"
                         ng-show="changePasswordForm['oldPassword'].$error.required && changePasswordForm['oldPassword'].$dirty">
                                    Pole wymagane</span>
            </fieldset>
        </div>
        <div class="row">
            <fieldset class="form-group col-md-12">
                <label for="password1">Nowe hasło</label>
                <input name="password1" id="password1" type="password" class="form-control" placeholder="password"
                       ng-model="ctrl.password1" required>
                   <span class="error"
                         ng-show="changePasswordForm['password1'].$error.required && changePasswordForm['password1'].$dirty">
                                    Pole wymagane</span>
            </fieldset>
        </div>
        <div class="row">
            <fieldset class="form-group col-md-12">
                <label for="password2">Powtórz nowe hasło</label>
                <input name="password2" id="password2" type="password" class="form-control" placeholder="password"
                       ng-model="ctrl.password2" required pw-check="password1">
                   <span class="error"
                         ng-show="changePasswordForm['password2'].$error.required && changePasswordForm['password2'].$dirty">
                                    Pole wymagane</span>
                 <span class="error"
                       ng-show="changePasswordForm['password2'].$error.pwmatch && changePasswordForm['password2'].$dirty">
                                    Hasła nie są zgodne</span>
            </fieldset>
        </div>
        <button class="btn btn-primary" ng-click="ctrl.changePassword(changePasswordForm)">Zmień hasło</button>
    </form>
</div>

<div class="well" ng-if="authData.user.email === undefined">
    <h1>Zmiana hasła nie możliwa ponieważ jesteś zalogowany za pomocą konta Facebook</h1>
</div>
