<div class="well">
    <h1>Logowanie</h1>

    <form id="loginForm" name="loginForm">
        <div class="row">
            <fieldset class="form-group col-md-12">
                <label for="email">Adres email</label>
                <input name="email" id="email" type="email" class="form-control" placeholder="email"
                       ng-model="ctrl.email" required>
                   <span class="error"
                         ng-show="loginForm['email'].$error.required && loginForm['email'].$dirty">
                                    Pole wymagane</span>
                   <span class="error"
                         ng-show="loginForm['email'].$error.email && loginForm['email'].$dirty">
                                    Niepoprawny adres email</span>
            </fieldset>
        </div>
        <div class="row">
            <fieldset class="form-group col-md-12">
                <label for="password">Hasło</label>
                <input name="password" id="password" type="password" class="form-control" placeholder="password"
                       ng-model="ctrl.password" required>
                   <span class="error"
                         ng-show="loginForm['password'].$error.required && loginForm['password'].$dirty">
                                    Pole wymagane</span>
            </fieldset>
        </div>
        <button class="btn btn-primary" ng-click="ctrl.login(loginForm)">Logowanie</button>
        <button class="btn btn-primary" ng-click="ctrl.authenticate('facebook')">Logowanie FB</button>
        <a class="btn btn-primary" ng-href="/auth/reset-password">Przypomnienie hasła</a>
    </form>
</div>
