<div class="well">
    <h1>Resetowanie hasła</h1>

    <form id="resetPasswordForm" name="resetPasswordForm">
        <div class="row">
            <fieldset class="form-group col-md-12">
                <label for="email">Adres email</label>
                <input name="email" id="email" type="email" class="form-control" placeholder="email"
                       ng-model="ctrl.email" required>
                   <span class="error"
                         ng-show="resetPasswordForm['email'].$error.required && resetPasswordForm['email'].$dirty">
                                    Pole wymagane</span>
                   <span class="error"
                         ng-show="resetPasswordForm['email'].$error.email && resetPasswordForm['email'].$dirty">
                                    Niepoprawny adres email</span>
            </fieldset>
        </div>
        <button class="btn btn-primary" ng-click="ctrl.resetPassword(resetPasswordForm)">Resetuj hasło</button>
    </form>
</div>
