<div class="well">
    <h1>Ustaw nowe hasło</h1>
    <form id="rpForm" name="rpForm">
        <div class="row">
            <fieldset class="form-group col-md-12">
                <label for="password1">Hasło</label>
                <input name="password1" id="password1" type="password" class="form-control" placeholder="password"
                       ng-model="ctrl.password1" required>
                   <span class="error"
                         ng-show="rpForm['password1'].$error.required && rpForm['password1'].$dirty">
                                    Pole wymagane</span>
            </fieldset>
        </div>
        <div class="row">
            <fieldset class="form-group col-md-12">
                <label for="password2">Potwierdź haslo</label>
                <input name="password2" id="password2" type="password" class="form-control" placeholder="password"
                       ng-model="ctrl.password2" required pw-check="password1">
                   <span class="error"
                         ng-show="rpForm['password2'].$error.required && rpForm['password2'].$dirty">
                                    Pole wymagane</span>
                 <span class="error"
                       ng-show="rpForm['password2'].$error.pwmatch && rpForm['password2'].$dirty">
                                    Hasła nie są zgodne</span>
            </fieldset>
        </div>
    </form>
    <a class="btn btn-primary" ng-click="ctrl.resetPasswordConfirmation(rpForm)">Ustaw nowe hasło</a>
</div>
