<div class="well">
    <h1>Dane firmy</h1>
    <form id="organizationDataForm" name="organizationDataForm">
        <h4>Informacje podstawowe</h4>
        <hr>
        <div class="row">
            <fieldset class="form-group col-md-12">
                <label for="nip">Nip</label>
                <input type="text" class="form-control" id="nip" name="nip"
                       ng-model="ctrl.data.nip" required>
                <span class="error"
                      ng-show="organizationDataForm['nip'].$error.required && organizationDataForm['nip'].$dirty">
                                    Pole wymagane</span>
            </fieldset>
        </div>
        <div ng-show="ctrl.captchaImage!= ''" class="row">
            <fieldset class="form-group col-md-12">
                <label for="captcha">Captcha</label>
                <input type="text" class="form-control" id="captcha" name="captcha"
                       ng-model="ctrl.data.captcha">
                <span class="error"
                      ng-show="contractorForm['nip'].$error.required && contractorForm['nip'].$dirty">
                                    Pole wymagane</span>
            </fieldset>
        </div>
        <div ng-show="ctrl.captchaImage!= ''" class="row">
            <fieldset class="form-group col-md-12">
                <img data-ng-src="data:image/png;base64,{{ctrl.captchaImage}}" data-err-src="images/png/avatar.png">
            </fieldset>
        </div>
        <div class="row">
            <fieldset ng-show="ctrl.gusStatus!= ''" class="form-group col-md-12">
                <span>{{ctrl.gusStatus}}</span>
            </fieldset>
            <fieldset class="form-group col-md-12">
                <button class="btn btn-primary" ng-disabled="lockData.status" ng-click="ctrl.findByNip(ctrl.data.nip)">
                    Uzupełnij resztę na podstawie GUS
                </button>
            </fieldset>
        </div>
        <div class="row">
            <fieldset class="form-group col-md-12">
                <label for="name">Nazwa</label>
                <input type="text" class="form-control" id="name" name="name"
                       ng-model="ctrl.data.name" required>
                <span class="error"
                      ng-show="organizationDataForm['name'].$error.required && organizationDataForm['name'].$dirty">
                                    Pole wymagane</span>
            </fieldset>
        </div>
        <div class="row">
            <fieldset class="form-group col-md-12">
                <label for="organizationForm">Forma prawna</label>
                <select class="form-control" id="organizationForm" name="organizationForm"
                        ng-model="ctrl.data.organizationForm"
                        ng-options="ok as ok.name for ok in ctrl.organizationForms track by ok.code"
                        required>
                </select>
                 <span class="error"
                       ng-show="organizationDataForm['organizationForm'].$error.required && organizationDataForm['organizationForm'].$dirty">
                                    Pole wymagane</span>
            </fieldset>
        </div>
        <div class="row">
            <fieldset class="form-group col-md-12">
                <label for="regon">Regon</label>
                <input type="text" class="form-control" id="regon" name="regon"
                       ng-model="ctrl.data.regon" required>
                                <span class="error"
                                      ng-show="organizationDataForm['regon'].$error.required && organizationDataForm['regon'].$dirty">
                                    Pole wymagane</span>
            </fieldset>
        </div>
        <div class="row">
            <fieldset class="form-group col-md-6">
                <label for="city">Ulica</label>
                <input type="street" class="form-control" id="street" name="street"
                       ng-model="ctrl.data.street">
            </fieldset>
            <fieldset class="form-group col-md-3">
                <label for="buildingNr">Nr budynku</label>
                <input type="text" class="form-control" id="buildingNr" name="buildingNr"
                       ng-model="ctrl.data.buildingNr" required>
              <span class="error"
                    ng-show="organizationDataForm['buildingNr'].$error.required && organizationDataForm['buildingNr'].$dirty">
                                    Pole wymagane</span>
            </fieldset>
            <fieldset class="form-group col-md-3">
                <label for="apartmentNr">Nr lokalu</label>
                <input type="text" class="form-control" id="apartmentNr" name="apartmentNr"
                       ng-model="ctrl.data.apartmentNr">
            </fieldset>
        </div>
        <div class="row">
            <fieldset class="form-group col-md-12">
                <label for="city">Miasto</label>
                <input type="text" class="form-control" id="city" name="city"
                       ng-model="ctrl.data.city" required>
              <span class="error"
                    ng-show="organizationDataForm['city'].$error.required && organizationDataForm['city'].$dirty">
                                    Pole wymagane</span>
            </fieldset>
        </div>
        <div class="row">
            <fieldset class="form-group col-md-4">
                <label for="postalCode">Kod pocztowy</label>
                <input type="text" class="form-control" id="postalCode" name="postalCode"
                       ng-model="ctrl.data.postalCode" required>
               <span class="error"
                     ng-show="organizationDataForm['postalCode'].$error.required && organizationDataForm['postalCode'].$dirty">
                                    Pole wymagane</span>
            </fieldset>
            <fieldset class="form-group col-md-8">
                <label for="postalCity">Poczta</label>
                <input type="text" class="form-control" id="postalCity" name="postalCity"
                       ng-model="ctrl.data.postalCity" required>
              <span class="error"
                    ng-show="organizationDataForm['postalCity'].$error.required && organizationDataForm['postalCity'].$dirty">
                                    Pole wymagane</span>
            </fieldset>
        </div>
        <h4>Informacje rozszerzone</h4>
        <hr>
        <div class="row">
            <fieldset class="form-group col-md-12">
                <label for="country">Kraj</label>
                <input type="text" class="form-control" id="country" name="country"
                       ng-model="ctrl.data.country" required>
              <span class="error"
                    ng-show="organizationDataForm['country'].$error.required && organizationDataForm['country'].$dirty">
                                    Pole wymagane</span>
            </fieldset>
        </div>
        <div class="row">
            <fieldset class="form-group col-md-12">
                <label for="voivodeship">Województwo</label>
                <input type="text" class="form-control" id="voivodeship" name="voivodeship"
                       ng-model="ctrl.data.voivodeship" required>
              <span class="error"
                    ng-show="organizationDataForm['voivodeship'].$error.required && organizationDataForm['voivodeship'].$dirty">
                                    Pole wymagane</span>
            </fieldset>
        </div>
        <div class="row">
            <fieldset class="form-group col-md-12">
                <label for="district">Powiat</label>
                <input type="text" class="form-control" id="district" name="district"
                       ng-model="ctrl.data.district" required>
              <span class="error"
                    ng-show="organizationDataForm['district'].$error.required && organizationDataForm['district'].$dirty">
                                    Pole wymagane</span>
            </fieldset>
        </div>
        <div class="row">
            <fieldset class="form-group col-md-12">
                <label for="commune">Gmina</label>
                <input type="text" class="form-control" id="commune" name="commune"
                       ng-model="ctrl.data.commune" required>
              <span class="error"
                    ng-show="organizationDataForm['commune'].$error.required && organizationDataForm['commune'].$dirty">
                                    Pole wymagane</span>
            </fieldset>
        </div>
        <div class="row">
            <fieldset class="form-group col-md-6">
                <label for="creationDate">Data powstania firmy</label>
                <p class="input-group">
                    <input type="date" class="form-control" id="creationDate" name="creationDate"
                           ng-model="ctrl.data.creationDate"
                           uib-datepicker-popup="dd-MM-yyyy" is-open="ctrl.isOpen.creationDate"
                           datepicker-options="dateOptions" required>
                 <span class="input-group-btn">
                <button type="button" class="btn btn-primary" ng-click="ctrl.openDatePicker('creationDate')"><i
                        class="glyphicon glyphicon-calendar"></i></button>
              </span>
                </p>
                          <span class="error"
                                ng-show="organizationDataForm['creationDate'].$error.required && organizationDataForm['creationDate'].$dirty">
                                    Pole wymagane</span>
            </fieldset>
            <fieldset class="form-group col-md-6">
                <label for="startDate">Data rozpoczęcia działalności</label>
                <p class="input-group">
                    <input type="date" class="form-control" id="startDate" name="startDate"
                           ng-model="ctrl.data.startDate"
                           uib-datepicker-popup="dd-MM-yyyy" is-open="ctrl.isOpen.startDate"
                           datepicker-options="dateOptions" required>
                 <span class="input-group-btn">
                <button type="button" class="btn btn-primary" ng-click="ctrl.openDatePicker('startDate')"><i
                        class="glyphicon glyphicon-calendar"></i></button>
              </span>
                </p>
                          <span class="error"
                                ng-show="organizationDataForm['startDate'].$error.required && invoiceForm['startDate'].$dirty">
                                    Pole wymagane</span>
            </fieldset>
        </div>
        <div class="row">
            <fieldset class="form-group col-md-12">
                <button class="btn btn-primary" ng-disabled="lockData.status"
                        ng-click="ctrl.save(organizationDataForm)">
                    Zapisz
                </button>
            </fieldset>
        </div>
    </form>
</div>
