<div class="well">
    <h2>Lista użytkowników</h2>
    <div class="table-responsive">
        <table st-table="ctrl.users" st-pipe="ctrl.load" class="table table-striped">
            <thead>
            <tr>
                <th>Email</th>
                <th>FB</th>
                <th>Adres</th>
                <th>Zarządaj</th>
            </tr>
            </thead>
            <tbody ng-show="!ctrl.isLoading">
            <tr ng-repeat="row in ctrl.users">
                <td>{{row.email}}</td>
                <td>{{row.fbId}}</td>
                <td>{{row.state}}</td>
                <td>{{row.hasOrganizationData}}</td>
            </tr>
            </tbody>
            <tbody ng-show="ctrl.isLoading">
            <tr>
                <td colspan="4" class="text-center">Ładowanie danych ...</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
