<div class="well">
    <h1>Faktura {{ctrl.data.numberingInfo.name}}</h1>
    <form id="invoiceForm" name="invoiceForm" novalidate>
        <div class="row">
            <div class="form-group col-md-4">
                <fieldset>
                    <label for="numberingSeries">Seria numeracji</label>
                    <select class="form-control" id="numberingSeries" name="numberingSeries"
                            ng-model="ctrl.data.numberingSeries"
                            ng-options="ns as ns.name for ns in ctrl.numberingSeries track by ns.id"
                            ng-disabled="ctrl.mode == 'edit'"
                            required>
                    </select>
                 <span class="error"
                       ng-show="invoiceForm['numberingSeriesId'].$error.required && invoiceForm['numberingSeriesId'].$dirty">
                                    Pole wymagane</span>
                </fieldset>
                <fieldset ng-show="ctrl.isCustomNs(ctrl.data.numberingSeries.id)">
                    <label for="name">Numer faktury</label>
                    <input class="form-control" id="name" name="name"
                           ng-model="ctrl.data.name"
                           ng-required="ctrl.isCustomNs(ctrl.data.numberingSeries.id)">
                    </input>
        <span class="error"
              ng-show="invoiceForm['name'].$error.required && invoiceForm['name'].$dirty">
        Pole wymagane</span>
                </fieldset>
                <fieldset>
                    <label for="issueDate">Data wystawienia</label>
                    <p class="input-group">
                        <input type="date" class="form-control" id="issueDate" name="issueDate"
                               ng-model="ctrl.data.issueDate"
                               uib-datepicker-popup="dd-MM-yyyy" is-open="ctrl.isOpen.issueDate"
                               datepicker-options="dateOptions" required>
                 <span class="input-group-btn">
                <button type="button" class="btn btn-primary" ng-click="ctrl.openDatePicker('issueDate')"><i
                        class="glyphicon glyphicon-calendar"></i></button>
              </span>
                    </p>
                          <span class="error"
                                ng-show="invoiceForm['issueDate'].$error.required && invoiceForm['issueDate'].$dirty">
                                    Pole wymagane</span>
                </fieldset>
                <fieldset>
                    <label for="saleDate">Data sprzedaży</label>
                    <p class="input-group">
                        <input type="date" class="form-control" id="saleDate" name="saleDate"
                               ng-model="ctrl.data.saleDate"
                               uib-datepicker-popup="dd-MM-yyyy" is-open="ctrl.isOpen.saleDate"
                               datepicker-options="dateOptions" required>
                      <span class="input-group-btn">
                <button type="button" class="btn btn-primary" ng-click="ctrl.openDatePicker('saleDate')"><i
                        class="glyphicon glyphicon-calendar"></i></button>
              </span>
                    </p>
                </fieldset>
            </div>
            <div class="form-group col-md-offset-2 col-md-6">
                <fieldset>
                    <label for="contractor">Nabywca</label>
                    <input type="text"
                           autocomplete="off"
                           class="form-control"
                           id="contractor"
                           name="contractor"
                           ng-model="ctrl.data.contractor"
                           typeahead-loading="loadingContractors"
                           typeahead-no-results="noResults"
                           uib-typeahead="contractor as contractor.name for contractor in ctrl.getContractors($viewValue)"
                           typeahead-focus-first="false"
                           typeahead-editable="false"
                           typeahead-template-url="/templates/contractors/typeahead-template.html"
                           required
                           ng-disabled="!ctrl.contractorBox"
                           ng-class="{hidetext: ctrl.contractorBox === false}">
                    <div class="hover-box" ng-show="ctrl.contractorBox">
                     <span class="error"
                           ng-show="invoiceForm['contractor'].$error.required">
                                           Uzupełnij pole nabywca</span>
                     <span class="glyphicon glyphicon-refresh"
                           ng-show="noResults">
                                           Brak wyników</span>
                     <span class="glyphicon glyphicon-refresh"
                           ng-show="loadingContractors">
                                           Ładowanie kontrahentów</span>
                        <p ng-show="ctrl.data.contractor!==undefined && ctrl.data.contractor.nip.length"><b>{{ctrl.data.contractor.name}}</b><br>
                            nip: {{ctrl.data.contractor.nip}}<br>
                            {{ctrl.data.contractor.address1}}<br>
                            {{ctrl.data.contractor.address2}}<br
                                    ng-show="ctrl.data.contractor.address2!==undefined && ctrl.data.contractor.address2.length">
                            {{ctrl.data.contractor.postalCode}} {{ctrl.data.contractor.postalCity}}<br>
                        </p>
                    </div>
                    <div ng-hide="ctrl.contractorBox">
                        <label for="contractor.nip">Nip</label>
                        <input type="text" class="form-control" id="contractor.nip" name="contractor.nip"
                               ng-model="ctrl.data.contractor.nip" required>

                        <div class="form-group" ng-show="ctrl.captchaImage!= ''">
                            <label for="captcha">Captcha</label>
                            <input type="text" class="form-control" id="captcha" name="captcha"
                                   ng-model="ctrl.data.captcha">
                         <span class="error"
                               ng-show="invoiceForm['contractor.nip'].$error.required && invoiceForm['contractor.nip'].$dirty">
                                    Pole wymagane</span>
                        </div>
                        <div class="form-group" ng-show="ctrl.captchaImage!= ''">
                            <img data-ng-src="data:image/png;base64,{{ctrl.captchaImage}}"
                                 data-err-src="images/png/avatar.png">
                        </div>
                        <div class="form-group" ng-show="ctrl.gusStatus!= ''">
                            <span>{{ctrl.gusStatus}}</span>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary" ng-disabled="lockData.status"
                                    ng-click="ctrl.findByNip(ctrl.data.nip)">
                                Uzupełnij resztę na podstawie GUS
                            </button>
                        </div>
                        <label for="contractor.name">Nazwa</label>
                        <input type="text" class="form-control" id="contractor.name" name="contractor.name"
                               ng-model="ctrl.data.contractor.name" required>
                        <label for="contractor.address1">Adres</label>
                        <input type="text" class="form-control" id="contractor.address1" name="contractor.address1"
                               ng-model="ctrl.data.contractor.address1" required>
                        <input type="text" class="form-control" id="contractor.address2"
                               name="contractor.contractor.address2"
                               ng-model="ctrl.data.contractor.address2">
                        <label for="contractor.postalCode">Kod pocztowy</label>
                        <input type="text" class="form-control" id="contractor.postalCode"
                               name="contractor.postalCode"
                               ng-model="ctrl.data.contractor.postalCode" required>
                        <label for="contractor.postalCity">Poczta</label>
                        <input type="text" class="form-control" id="contractor.postalCity"
                               name="contractor.postalCity"
                               ng-model="ctrl.data.contractor.postalCity" required>
                    </div>
                </fieldset>
                <fieldset ng-show="ctrl.contractorMessage!= ''" ng-click="ctrl.contractorMessage =''">
                    <span>{{ctrl.contractorMessage}}</span>
                </fieldset>
                <fieldset style="margin-top: 15px">
                    <div>
                        <button class="btn btn-primary" ng-hide="ctrl.contractorBox"
                                ng-click="ctrl.saveContractor(invoiceForm)">Zapisz
                        </button>
                        <button class="btn btn-primary" ng-hide="ctrl.contractorBox"
                                ng-click="ctrl.cancelContractorEdit()">Nie zapisuj
                        </button>
                        <button class="btn btn-primary" ng-show="ctrl.contractorBox" ng-click="ctrl.addContractor()">
                            Dodaj kontrahenta
                        </button>
                        <button class="btn btn-primary"
                                ng-show="ctrl.contractorBox && ctrl.data.contractor !== undefined && ctrl.data.contractor.nip.length"
                                ng-click="ctrl.editContractor()">
                            Edytuj kontrahenta
                        </button>
                    </div>
                </fieldset>
            </div>
        </div>
        <h4>Produkty i usługi</h4>
        <hr>
        <div class="row col-md-12 table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th width="2%">Nr</th>
                    <th width="30%">Nazwa</th>
                    <th width="6%">PKWiU</th>
                    <th>Jm</th>
                    <th>Ilość</th>
                    <th>Cena netto</th>
                    <th>Wartość netto</th>
                    <th>Stawka VAT</th>
                    <th>Kwota VAT</th>
                    <th>Wartość brutto</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="record in ctrl.data.records">
                    <td>{{$index+1}}.</td>
                    <td><input name="{{'record.name'+$index}}" type="text" class="form-control"
                               ng-model="record.name" required>
                     <span class="error"
                           ng-show="invoiceForm['record.name'+$index].$error.required && invoiceForm['record.name'+$index].$dirty">
                                    Pole wymagane</span>
                    </td>
                    <td><input name="{{'record.pkwiu'+$index}}" type="text" class="form-control"
                               ng-model="record.pkwiu"></td>
                    <td><input name="{{'record.unit'+$index}}" type="text" class="form-control"
                               ng-model="record.unit" required>
                          <span class="error"
                                ng-show="invoiceForm['record.unit'+$index].$error.required && invoiceForm['record.unit'+$index].$dirty">
                                    Pole wymagane</span>
                    </td>
                    <td><input name="{{'record.quantity'+$index}}" type="number" min="0" class="form-control"
                               ng-model="record.quantity" ng-change="ctrl.quantityChanged(record)" required>
                          <span class="error"
                                ng-show="invoiceForm['record.quantity'+$index].$error.required && invoiceForm['record.quantity'+$index].$dirty">
                                    Pole wymagane</span>
                    </td>
                    <td><input name="{{'record.netPrice'+$index}}" type="number" min="0"
                               ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" class="form-control"
                               ng-model="record.netPrice" ng-change="ctrl.netPriceChanged(record)" required>
                          <span class="error"
                                ng-show="invoiceForm['record.netPrice'+$index].$error.required && invoiceForm['record.netPrice'+$index].$dirty">
                                    Pole wymagane</span>
                                        <span class="error"
                                              ng-show="(invoiceForm['record.netPrice'+$index].$error.pattern || invoiceForm['record.netPrice'+$index].$error.number) && invoiceForm['record.netPrice'+$index].$dirty">
                                    Nieprawidłowa wartość</span>
                    </td>
                    <td><input name="{{'record.netValue'+$index}}" type="number" min="0"
                               ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" class="form-control"
                               ng-model="record.netValue" ng-change="ctrl.netValueChanged(record)" required>
                          <span class="error"
                                ng-show="invoiceForm['record.netValue'+$index].$error.required && invoiceForm['record.netValue'+$index].$dirty">
                                    Pole wymagane</span>
                                        <span class="error"
                                              ng-show="(invoiceForm['record.netValue'+$index].$error.pattern || invoiceForm['record.netValue'+$index].$error.number) && invoiceForm['record.netValue'+$index].$dirty">
                                    Nieprawidłowa wartość</span>
                    </td>
                    <td width="8%">
                        <select name="{{'record.vatRate'+$index}}" class="form-control"
                                ng-model="record.vatRate" ng-change="ctrl.vatRateChanged(record)" required>
                            <option ng-repeat="vatRate in ctrl.vatRates" value="{{vatRate.code}}"
                                    rate="{{vatRate.rate}}">
                                {{vatRate.name}}
                            </option>
                        </select>
                    </td>
                    <td><input name="{{'record.vatValue'+$index}}" type="number" min="0"
                               ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" class="form-control"
                               ng-model="record.vatValue" readonly required>
                          <span class="error"
                                ng-show="invoiceForm['record.vatValue'+$index].$error.required && invoiceForm['record.vatValue'+$index].$dirty">
                                    Pole wymagane</span>
                          <span class="error"
                                ng-show="(invoiceForm['record.vatValue'+$index].$error.pattern || invoiceForm['record.vatValue'+$index].$error.number) && invoiceForm['record.vatValue'+$index].$dirty">
                                    Nieprawidłowa wartość</span>
                    </td>
                    <td><input name="{{'record.grossValue'+$index}}" type="number" min="0"
                               ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" class="form-control"
                               ng-model="record.grossValue" ng-change="ctrl.grossValueChanged(record)" required>
                       <span class="error"
                             ng-show="invoiceForm['record.grossValue'+$index].$error.required && invoiceForm['record.grossValue'+$index].$dirty">
                                    Pole wymagane</span>
                                        <span class="error"
                                              ng-show="(invoiceForm['record.grossValue'+$index].$error.pattern || invoiceForm['record.grossValue'+$index].$error.number) && invoiceForm['record.grossValue'+$index].$dirty">
                                    Nieprawidłowa wartość</span>
                    </td>
                    <td>
                        <button class="btn btn-primary" ng-click="ctrl.removeRecord(record)">Usuń</button>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><b>Razem:</b></td>
                    <td><p>{{ctrl.data.records | map: 'netValue' | sum | number:2}}</p></td>
                    <td><b>X</b></td>
                    <td><p>{{ctrl.data.records | map: 'vatValue' | sum | number:2}}</p></td>
                    <td><p>{{ctrl.data.records | map: 'grossValue' | sum | number:2}}</p></td>
                    <td></td>
                </tr>
                <!--https://github.com/a8m/angular-filter-->
                <tr ng-repeat="(key, values) in ctrl.data.records | groupBy: 'vatRate'">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><b ng-if="$first">W tym:</b></td>
                    <td><p>{{values | map: 'netValue' | sum | number:2}}</p></td>
                    <td><b>{{ctrl.vatCodeToName(key)}}</b></td>
                    <td><p>{{values | map: 'vatValue' | sum | number:2}}</p></td>
                    <td><p>{{values | map: 'grossValue' | sum | number:2}}</p></td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            <fieldset class="form-group col-md-6">
                <button class="btn btn-primary" ng-click="ctrl.addRecord()">Dodaj wiersz</button>
            </fieldset>
        </div>
        <h4>Szczegóły płatności</h4>
        <hr>
        <div class="row">
            <fieldset class="form-group col-md-4">
                <label for="paymentMethod">Waluta</label>
                <select class="form-control" id="currency" name="currency" ng-model="ctrl.data.currency"
                        required>
                    <option value="PLN" selected>PLN</option>
                </select>
                </select>
                 <span class="error"
                       ng-show="invoiceForm['currency'].$error.required && invoiceForm['currency'].$dirty">
                                    Pole wymagane</span>
            </fieldset>
            <fieldset class="form-group col-md-6 col-md-offset-2">
                <label for="paidValue">Kwota zapłacona</label>
                <input type="number" class="form-control" id="paidValue" name="paidValue"
                       ng-model="ctrl.data.paidValue" required min="0" autocomplete="off"
                       max="{{ctrl.data.records | map: 'grossValue' | sum | number:2}}"
                       ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" value="0">
                     <span class="error"
                           ng-show="invoiceForm['paidValue'].$error.required && invoiceForm['paidValue'].$dirty">
                                    Pole wymagane</span>
                     <span class="error"
                           ng-show="(invoiceForm['paidValue'].$error.pattern || invoiceForm['paidValue'].$error.number) && invoiceForm['paidValue'].$dirty">
                                    Nieprawidłowa wartość</span>
                     <span class="error"
                           ng-show="invoiceForm['paidValue'].$error.max && invoiceForm['paidValue'].$dirty">
                                    Kwota za wysoka</span>
            </fieldset>
        </div>
        <div class="row">
            <fieldset class="form-group col-md-4">
                <label for="paymentMethod">Sposób płatności</label>
                <select class="form-control" id="paymentMethod" name="paymentMethod"
                        ng-model="ctrl.data.paymentMethod"
                        required>
                    <option value="bankTransfer">Przelew</option>
                    <option value="cash">Gotówka</option>
                </select>
                 <span class="error"
                       ng-show="invoiceForm['paymentMethod'].$error.required && invoiceForm['paymentMethod'].$dirty">
                                    Pole wymagane</span>
            </fieldset>
            <fieldset class="form-group col-md-6 col-md-offset-2" ng-show="ctrl.data.paymentMethod=='bankTransfer'">
                <label for="bankAccount">Numer konta</label>
                <input type="text" class="form-control" id="bankAccount" name="bankAccount"
                       ng-model="ctrl.data.bankAccount" ng-required="ctrl.data.paymentMethod=='bankTransfer'">
                     <span class="error"
                           ng-show="invoiceForm['bankAccount'].$error.required && invoiceForm['bankAccount'].$dirty">
                                    Pole wymagane dla płatności przelewem</span>
            </fieldset>
        </div>
        <div class="row">
            <fieldset class="form-group col-md-4">
                <label for="paymentDate">Termin płatności</label>
                <p class="input-group">
                    <input type="date" class="form-control" id="paymentDate" ng-model="ctrl.data.paymentDate"
                           uib-datepicker-popup="dd-MM-yyyy" is-open="ctrl.isOpen.paymentDate"
                           datepicker-options="dateOptions" required>
                    <span class="input-group-btn">
                <button type="button" class="btn btn-primary" ng-click="ctrl.openDatePicker('paymentDate')"><i
                        class="glyphicon glyphicon-calendar"></i></button>
              </span>
                </p>
                <span class="error"
                      ng-show="invoiceForm['currency'].$error.required && invoiceForm['currency'].$dirty">
                                    Pole wymagane</span>
            </fieldset>
            <fieldset class="form-group col-md-6 col-md-offset-2" ng-show="ctrl.data.paymentMethod=='bankTransfer'">
                <label for="bankName">Bank</label>
                <input type="text" class="form-control" id="bankName" name="bankName"
                       ng-model="ctrl.data.bankName" ng-required="ctrl.data.paymentMethod=='bankTransfer'">
                     <span class="error"
                           ng-show="invoiceForm['bankName'].$error.required && invoiceForm['bankName'].$dirty">
                                    Pole wymagane dla płatności przelewem</span>
            </fieldset>
        </div>
        <div class="row">
        </div>
        <h4>Informacje dodatkowe</h4>
        <hr>
        <div class="row">
            <fieldset class="form-group col-md-6">
                <label for="buyerName">Osoby upoważniona do odebrania dokumentu</label>
                <input type="text" class="form-control" id="buyerName" ng-model="ctrl.data.buyerName">
            </fieldset>
            <fieldset class="form-group col-md-6">
                <label for="sellerName">Osoby upoważniona do wystawienia dokumentu</label>
                <input type="text" class="form-control" id="sellerName" ng-model="ctrl.data.sellerName">
            </fieldset>
        </div>
        <div class="row">
            <fieldset class="form-group col-md-12">
                <label for="notes">Uwagi</label>
                <textarea type="text" class="form-control" id="notes" ng-model="ctrl.data.notes"></textarea>
            </fieldset>
        </div>
        <div class="row">
            <fieldset class="form-group col-md-12" ng-show="ctrl.invoiceMessage != ''"
                      ng-click="ctrl.invoiceMessage =''">
                <span class="error">{{ctrl.invoiceMessage}}</span>
            </fieldset>
            <fieldset class="form-group col-md-12">
                <button class="btn btn-primary" ng-disabled="lockData.status" ng-click="ctrl.save(invoiceForm)">
                    Zapisz
                </button>
                <a class="btn btn-primary" ng-disabled="lockData.status" ng-href="/sale/invoices/list">Lista</a>
                <pdf-download ng-show="ctrl.mode == 'edit' || ctrl.mode == 'load'"
                              url="/api/sale/invoices/{{ctrl.id}}/pdf"></pdf-download>
                <a class="btn btn-primary" ng-show="ctrl.mode == 'edit' || ctrl.mode == 'load'"
                   ng-disabled="lockData.status" ng-click="ctrl.publicLink()">Kopiuj link publiczny do schowka</a>
            </fieldset>
        </div>
    </form>

</div>
