<div class="well">
    <h1>Schematy numeracji faktur sprzedaży</h1>

    <div class="datagrid table-responsive">
        <table st-table="ctrl.data" st-pipe="ctrl.load" class="table table-striped">
            <thead>
            <tr>
                <th>Nazwa</th>
                <th>Schemat</th>
                <th>Typ serii</th>
                <th>Domyślna</th>
                <!--<th>Typ faktury</th>-->
                <th>Akcje</th>
            </tr>
            </thead>
            <tbody ng-show="!ctrl.isLoading">
            <tr ng-repeat="row in ctrl.data">
                <td>{{row.name}}</td>
                <td>{{row.schema}}</td>
                <td>{{row.kind | numeringSeries$kind}}</td>
                <td><input type="checkbox" ng-checked="{{row.primary}}" disabled="true"></td>
                <!--<td>{{row.invoiceKind | numeringSeries$invoiceKind}}</td>-->
                <td>
                    <a class="btn btn-primary" ng-href="/sale/configuration/numbering-series/{{row.id}}/edit">
                        Ustaw numer kolejnej faktury
                    </a>
                </td>
            </tr>
            </tbody>
            <tbody ng-show="ctrl.isLoading">
            <tr>
                <td colspan="5" class="text-center">Ładowanie danych ...</td>
            </tr>
            </tbody>
            <tbody ng-show="!ctrl.isLoading && (!ctrl.data.length)">
            <tr>
                <td colspan="5" class="text-center">Brak danych do wyświetlenia</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>