<div class="well">
    <h1>Ustaw numer kolejnej faktury</h1>

    <!--<form id="nsForm" name="nsForm">-->
    <div class="row">
        <fieldset class="form-group col-md-12">
            <label for="name">Nazwa serii numeracji</label>
            <input type="text" class="form-control" id="name" name="name"
                   ng-model="ctrl.ns.name" disabled>
        </fieldset>
    </div>

    <div class="row">
        <fieldset class="form-group col-md-12">
            <label for="kind">Rodzaj serii numeracji</label>
            <select name="kind" id="kind" class="form-control" disabled>
                <option ng-repeat="nsKind in ctrl.nsKinds" value="{{nsKind.code}}">
                    {{nsKind.name}}
                </option>
            </select>
        </fieldset>
    </div>
    <div class="row">
        <fieldset class="form-group col-md-12">
            <label for="schema">Schemat numeracji</label>
            <input type="text" class="form-control" id="schema" name="schema"
                   ng-model="ctrl.ns.schema" disabled>
        </fieldset>
    </div>

    <div class="datagrid table-responsive">
        <table st-table="ctrl.data" st-pipe="ctrl.load" class="table table-striped">
            <thead>
            <tr>
                <th>Rok</th>
                <th>Miesiąc</th>
                <th width="25%">Numer kolejnej faktury</th>
                <th width="25%">Zapisz</th>
            </tr>
            </thead>

            <tbody ng-show="!ctrl.isLoading">
            <tr ng-form="rForm" ng-repeat="row in ctrl.data">
                <td>{{row.year}}</td>
                <td>{{row.month}}</span>
                </td>
                <td><input type="number"
                           name="idx"
                           class="form-control"
                           ng-model="row.idx"
                           min="1"
                           required></td>
                <td>
                    <button name="saveButton" class="btn btn-primary" ng-click="ctrl.save(row,rForm)"
                            ng-disabled="rForm.$pristine || rForm.$invalid || row.button !== undefined">
                        {{(row.button !== undefined) ? row.button : ((rForm.$pristine) ? 'Zapisany' : 'Zapisz')}}
                    </button>
                </td>
            </tr>
            </tbody>
            <tbody ng-show="ctrl.isLoading">
            <tr>
                <td colspan="5" class="text-center">Ładowanie danych ...</td>
            </tr>
            </tbody>
            <tbody ng-show="!ctrl.isLoading && (!ctrl.data.length)">
            <tr>
                <td colspan="5" class="text-center">Brak danych do wyświetlenia</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>