<div class="well">
    <h1>Dane kontaktowe</h1>
    <p>Administratorem i właścicielem serwisu jest Marcin Gosk prowadzący działalność gospodarczą pod adresem:<br><br>
        <b>DIXRAD Marcin Gosk</b><br>
        NIP: 7221576653<br>
        ul. Chmielna 2 lok.31<br>
        00-020 Warszawa<br><br>
        Jeżeli masz jakieś pytania lub jesteś zainteresowany prywatną, spersonalizowaną wersją serwisu napisz do
        nas:<br>
        <b>kontakt@faktit.pl</b>
    </p>
    <br>
    <a class="btn btn-primary center-block" ng-href="/">Przejdź do strony początkowej</a>
</div>
