<div class="well">
    <h1>Regulamin serwisu</h1>
    <h4>1. Przedmiot regulaminu</h4>
    <p>Niniejszy regulamin określa warunki funkcjonowania aplikacji internetowej FaktIt, dostępnej w sieci internet
        pod adresem https://faktit.pl</p>
    <h4>2. Definicje</h4>
    <p><b>usługodawca</b> – firma DIXRAD Marcin Gosk z adresem Chmielna 2 lok.31, 00-020 Warszawa</p>
    <p><b>aplikacja</b> – aplikacja internetowa umożliwiająca użytkownikom wystawianie i przeglądanie faktur sprzedaży
        oraz zarządzanie kartoteką kontrahentów, dostępna pod adresem internetowym https://faktit.pl</p>
    <p><b>użytkownik</b> – przedsiębiorca w rozumieniu art. 43 Kodeksu cywilnego korzystający z aplikacji</p>
    <h4>3. Wymagania techniczne</h4>
    <p>Aplikacja do poprawnego działania wymaga urządzenia z dostępem do sieci internet, wyposażonego w przeglądarkę
        internetową.</p>
    <h4>4. Funkcjonalność aplikacji</h4>
    <p>Aplikacja pozwala na wystawianie, przeglądanie i edycję faktur sprzedaży oraz zarządzanie kartoteką
        kontrahentów.</p>
    <h4>5. Obowiązki użytkownika</h4>
    <li>W celu przeprowadzenia prawidłowego procesu rejestracji i obsługi użytkownik jest zobowiązany do podania
        prawdziwych danych kontaktowych.
    </li>
    <li>Użytkownik zobowiązany jest chronić dane dostępowe do aplikacji przed dostępem osób niepowołanych.</li>
    <li>Użytkownik zobowiązany jest korzystać z aplikacji zgodnie z polskim prawem i dobrymi obyczajami.</li>
    <li>Użytkownik ponosi całkowitą odpowiedzialność za treść dokumentów wystawianych poprzez aplikację.</li>
    <h4>6. Odpowiedzialność usługodawcy</h4>
    <li>Usługodawca oświadcza że posiada kompetencje w zarządzaniu aplikacjami internetowymi i dochowa staranności w
        celu zapiezpieczenia poprawnego działania aplikacji.
    </li>
    <li>W przypadku awarii lub modernizacji technicznej aplikacji usługodawca zastrzega możliwość zaprzestania
        świadczenia usług.
    </li>
    <li>Usługodawca nie ponosi odpowiedzialności za kradzież bądź uszkodzenie danych zgromadzonych w ramach
        aplikacji.
    </li>
    <li>Usługodawca nie ponosi odpowiedzialności za szkody powstałe na skutek ujawnienia danych dostępowych do
        aplikacji.
    </li>
    <h4>7. Kontakt z użytkownikiem</h4>
    <p>Usługodawca, na podany przez użytkownika adres email, będzie wysyłał  wiadomości dotyczące funkcjowania
        systemu i informację handlową.</p>
    <h4>8. Faza testów</h4>
    <p>Aplikacja jest uruchomiona w trybie testowym. Użytkownicy którzy zarejestrują się w aplikacji w okresie testowym
        będą zwolnieni z opłat za podstawowe funkcjonalności czyli zarządzanie kontrahentami i zarządzanie fakturami
        sprzedaży.
        Podczas fazy testów usługodawca nie gwarantuje poprawnego działania aplikacji.</p>
    <h4>9. Postanowienia końcowe</h4>
    <li>Usługodawca zastrzega sobie możliwość wprowadzania zmian w niniejszym regulaminie o których poinformuje
        klienta.
    </li>
    <li>Usługodawca zastrzega sobie możliwość zablokowania konta klienta który nie stosuje się do regulaminu.</li>

    <br>
    <a class="btn btn-primary center-block" ng-href="/">Przejdź do strony początkowej</a>
</div>
