<div class="well">
    <h1>Lista kontahentów</h1>
    <div class="datagrid table-responsive">
        <table st-table="ctrl.contractors" st-pipe="ctrl.load" class="table table-striped appTable">
            <thead class="thead-inverse">
            <tr>
                <th st-sort="name">Nazwa</th>
                <th st-sort="nip">NIP</th>
                <th>Adres</th>
                <th>Zarządaj</th>
            </tr>
            </thead>
            <tbody ng-show="!ctrl.isLoading">
            <tr ng-repeat="row in ctrl.contractors" ng-click="ctrl.edit(row)">
                <td>{{row.name}}</td>
                <td>{{row.nip}}</td>
                <td>{{row.address}}</td>
                <td>
                    <a class="btn btn-primary" ng-href="/contractors/{{row.id}}">
                        Edytuj
                    </a>
                    <button type="button" ng-click="ctrl.remove(row.id)" class="btn btn-danger">
                        Usuń
                    </button>
                </td>
            </tr>
            </tbody>
            <tbody ng-show="ctrl.isLoading">
            <tr>
                <td colspan="4" class="text-center">Ładowanie danych ...</td>
            </tr>
            </tbody>
            <tbody ng-show="!ctrl.isLoading && (!ctrl.contractors.length)">
            <tr>
                <td colspan="4" class="text-center">Brak danych do wyświetlenia</td>
            </tr>
            </tbody>
        </table>
    </div>
    <a class="btn btn-primary" ng-href="/contractors/add">
        Nowy kontrahenta
    </a>
</div>
