<div ng-if="!ctrl.found" class="well">
    <h1>Kontahent nie istnieje</h1>
</div>


<div ng-if="ctrl.found" class="well">
    <h1>Kontrahent</h1>

    <form id="contractorForm" name="contractorForm">
        <div class="row">
            <fieldset class="form-group col-md-12">
                <label for="nip">Nip</label>
                <input type="text" class="form-control" id="nip" name="nip"
                       ng-model="ctrl.data.nip" required>
                <span class="error"
                      ng-show="contractorForm['nip'].$error.required && contractorForm['nip'].$dirty">
                                    Pole wymagane</span>
            </fieldset>
        </div>
        <div ng-show="ctrl.captchaImage!= ''" class="row">
            <fieldset class="form-group col-md-12">
                <label for="captcha">Captcha</label>
                <input type="text" class="form-control" id="captcha" name="captcha"
                       ng-model="ctrl.data.captcha">
                <span class="error"
                      ng-show="contractorForm['nip'].$error.required && contractorForm['nip'].$dirty">
                                    Pole wymagane</span>
            </fieldset>
        </div>
        <div ng-show="ctrl.captchaImage!= ''" class="row">
            <fieldset class="form-group col-md-12">
                <img data-ng-src="data:image/png;base64,{{ctrl.captchaImage}}" data-err-src="images/png/avatar.png">
            </fieldset>
        </div>
        <div class="row">
            <fieldset ng-show="ctrl.gusStatus!= ''" class="form-group col-md-12">
                <span>{{ctrl.gusStatus}}</span>
            </fieldset>
            <fieldset class="form-group col-md-12">
                <button class="btn btn-primary" ng-disabled="lockData.status" ng-click="ctrl.findByNip(ctrl.data.nip)">
                    Uzupełnij resztę na podstawie GUS
                </button>
            </fieldset>
        </div>
        <div class="row">
            <fieldset class="form-group col-md-12">
                <label for="name">Nazwa</label>
                <input type="text" class="form-control" id="name" name="name"
                       ng-model="ctrl.data.name" required>
                <span class="error"
                      ng-show="contractorForm['name'].$error.required && contractorForm['name'].$dirty">
                                    Pole wymagane</span>
            </fieldset>
        </div>
        <div class="row">
            <fieldset class="form-group col-md-12">
                <label for="address1">Adres</label>
                <input type="text" class="form-control" id="address1" name="address1"
                       ng-model="ctrl.data.address1" required>
                <input type="text" class="form-control" id="address2" name="address2"
                       ng-model="ctrl.data.address2">
            <span class="error"
                  ng-show="contractorForm['address1'].$error.required && contractorForm['address1'].$dirty">
                                    Pole wymagane</span>
            </fieldset>
        </div>
        <div class="row">
            <fieldset class="form-group col-md-4">
                <label for="postalCode">Kod pocztowy</label>
                <input type="text" class="form-control" id="postalCode" name="postalCode"
                       ng-model="ctrl.data.postalCode" required>
               <span class="error"
                     ng-show="contractorForm['postalCode'].$error.required && contractorForm['postalCode'].$dirty">
                                    Pole wymagane</span>
            </fieldset>
            <fieldset class="form-group col-md-8">
                <label for="postalCity">Poczta</label>
                <input type="text" class="form-control" id="postalCity" name="postalCity"
                       ng-model="ctrl.data.postalCity" required>
              <span class="error"
                    ng-show="contractorForm['postalCity'].$error.required && contractorForm['postalCity'].$dirty">
                                    Pole wymagane</span>
            </fieldset>
        </div>
        <div class="row">
            <fieldset class="form-group col-md-12">
                <button class="btn btn-primary" ng-disabled="lockData.status" ng-click="ctrl.save(contractorForm)">
                    Zapisz
                </button>
                <a class="btn btn-primary" ng-disabled="lockData.status" ng-href="/contractors/list">Lista</a>
            </fieldset>
        </div>
    </form>
</div>
